$def with (page)

<!DOCTYPE html>
<html>
    <head>
        <title>Restoration Front</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div class="header">
            Ｒ　Ｅ　Ｓ　Ｔ　Ｏ　Ｒ　Ａ　Ｔ　Ｉ　Ｏ　Ｎ　　Ｆ　Ｒ　Ｏ　Ｎ　Ｔ
            <div class="menu">
                <ul>
                    <li>Blog</li>
                    <li>Main Page</li>
                    <li>Szalupa</li>
                </ul>
            </div>
        </div>

        $:page

        <div class="footer">
            Ｅ　Ｎ　Ｄ
        </div>
    </body>
</html>
